@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    background: #5CCCCC;
}

.label {
    display: block;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

/* header */
.header {
    min-width: 920px;
    padding-top: 46px;
    background-color: #5CCCCC;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.logo {
    font-weight: 700;
    font-size: 64px;
    color: #006363;

}

/* title */
.title {
    color: #006363;
    font-size: 24px;
    padding-top: 50px;
}




/* NAV */




.nav-list {
    display: flex;
    column-gap: 100px;
    font-weight: 500;
    font-size: 20px;
}

.nav-button {
    display: none;
}



/*.nav-item {
}*/

.nav-link {
    color: #006363;
}



/*  Service */

.services {
    padding: 90px 0;
}

.services-row {
    display: flex;
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
}

.service-card {
    background-color: white;
    flex: 1 1 0;
    width: 45%;
    min-width: 400px;
    border: 1px solid #000000;

}

.service-card-img {
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.service-card p {
    line-height: 2;
    margin-left: 10px;
}

/* 1000px */
@media (max-width: 1230px) {
    .nav-list {
        display: none;
    }
    .nav-button {
        display: block;
    }

    .header {
        min-width: 100px;
    }
    

    .nav.open .nav-list {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: white;
        z-index: 1;

        padding: 46px 30px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        font-size: 34px;
        font-weight: 600;
    }

    .service-card{
        width: 90%;
        background-color: white;
    }

    .nav.open .nav-button {
        position: fixed;
    }

    .nav-link {
		color: #828282;
	}

    .nav-button {
        position: fixed;
        z-index: 9;
        top: 46px;
        right: 30px;
    }
}

/* 600px
@media only screen and (max-width: 600px) {
    .service-card {
        width: 90%;
        background-color: white;
    }
}*/



.btSize {
	margin-top: 30px;
	width: 220px;
	height: 30px;
	font-size: large;
}

.PAD {
    padding-top: 40px;
}

.red {
	color: red;
}

input:invalid {
    background-color: ivory;
    border: none;
    outline: 1px solid red;
    border-radius: 2px;
}